{% extends 'base.html.twig' %}

{% block navprofil %}

{% endblock %}

{% block main %}
	<section class="container">

		{# pour récupérer les informations sur l'utilisateur (ne fonctionne qu'avec l'utilisateur) app.user.information voulue #}
		<p>Bonjour, {{ app.user.username }}</p>
	</section>
{% endblock %}


