/**********************************************************************/
/*----------------------------- COULEURS -----------------------------*/

	/* couleur */
	.plusun-color {
		color : #22B573;
	}

	/* background */
	.plusun-bg {
		background-color: #22B573;
	}

	/* bouton */
	.btn-plusun {
		background-color: #22B573;
		border-color : #22B573;
	}

/*----------------------------- COULEURS -----------------------------*/
/**********************************************************************/





/**********************************************************************/
/*---------------------------- AVATAR --------------------------------*/

/* CONTAINER AVATAR */
	.avatar {
		overflow: hidden;

		border : 5px solid #FFFFFF;
		background-color: #FFFFFF;

		border-radius: 50%;
	}

	/* DIMENSIONS AVATAR */
	.avatar-120 {
		height : 120px;
		width : 120px;
		}

	.avatar-90 {
		height : 90px;
		width : 90px;
		}

	.avatar-55 {
		height : 55px;
		width : 55px;
		}

		/* PHOTO AVATAR */
		.img-avatar {
			max-width  : 150%;
			height: auto;

			position: relative;
			right: 25%;
		}

/*---------------------------- AVATAR --------------------------------*/
/**********************************************************************/





/**********************************************************************/
/*--------------------------- BLOCK MAIN -----------------------------*/
	
	/* AJOUTE UNE MARGE EN HAUT POUR NE PAS PASSER SOUS LE MENU */
	.margin-top {
		margin-top: 150px;
	}


/*---------------------------- BLOCK NAV ----------------------------*/


	/* BOUTON PROPOSER UN EVENEMENT */
	#btn-proposer_evenement {
		margin-right : 20px;
	}

/*---------------------------- BLOCK NAV ----------------------------*/



/*---------------------------- BLOCK MAIN ----------------------------*/
/**********************************************************************/





/**********************************************************************/
/*-------------------------- BLOCK PROFIL ----------------------------*/



/*------------------------ BLOCK PROFIL NAV --------------------------*/
	

	/* MENU DU PROFIL */
	#profil-nav {
		-webkit-box-shadow: 0 10px 10px 0 #cccccc;
		box-shadow: 0 10px 10px 0 #cccccc;
	}

	#profil-nav .modal-header {
		background-image: url(../img/logo/plus-un-pattern.png);
		background-repeat: repeat;

		height : 120px;

		box-shadow : none;

		overflow: hidden;
	}

	.position-avatar {
		position : relative;
		bottom : 65px;
	}

	#profil-nav .modal-body {
		/* annulation des paddings */
		padding : 0px;

		/* Remonter le bloc pour qu'il soit plus près de l'avatar */
		bottom: 65px;
	}

		#profil-nav .list-group-item {
			/* annulation des borders colorés */
			border : none;

			/* réduction du padding haut et bas */
			padding : .5rem 1.25rem;
		}

			#profil-nav .list-group-item.active {
				/* background color blanc */
				background-color: #FFF;
				border-color : #FFF;

				/* apparence en actif */
				-webkit-box-shadow:inset 0px 15px 10px -15px #E6E6E6;
				box-shadow:inset 0px 15px 10px -15px #E6E6E6;

				color : #333;

				font-weight: bold;
			}


		/* BOUTON MENU PROFIL */
		.btn-rond {
			-webkit-border-radius: 100%;
			border-radius: 100%;

			border : none;

			background-color: #22B573;

			-webkit-box-shadow: 1px 1px 10px 1px #cccccc;
			box-shadow: 1px 1px 10px 1px #cccccc;
		}

		.icon-color {
			color : white;
		}

/*------------------------ BLOCK PROFIL NAV --------------------------*/



/*-------------------------- BLOCK PROFIL ----------------------------*/
/**********************************************************************/





/**********************************************************************/
/*--------------------------- BLOCK INDEX ----------------------------*/

	/* IMAGE EN BANNIERE */
	.img-banner {
		height: 500px;

		margin-top : 75px; /* height du main-nav */

		background-image: url(../img/basketball.jpg);
		background-repeat: no-repeat;
		background-position: center;
	    background-size: cover;
	}

/*--------------------------- BLOCK INDEX ----------------------------*/
/**********************************************************************/





/**********************************************************************/
/*---------------------- BLOCK LISTE EVENEMENTS ----------------------*/

	
	.banner-liste-evenement {
		height : 10px;
		overflow: hidden;
	}

	.profil-user-evenements {
		width: 200px;
	}


/*---------------------- BLOCK LISTE EVENEMENTS ----------------------*/
/**********************************************************************/





/**********************************************************************/
/*------------------- BLOCK PROPOSER UN EVENEMENT --------------------*/


/* CHECKBOX MAGGLE */
[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 75px;
		cursor: pointer;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before,
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		left:0; top: -2.5px;
		width: 65px; height: 30px;
		background: #DDDDDD;
		border-radius: 15px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		transition: background-color .2s;
	}
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		width: 20px; height: 20px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
		border-radius: 50%;
		background: #7F8C9A;
		top: 2px; left: 5px;
	}

	/* on checked */
	[type="checkbox"]:checked + label:before {
		background:#22B573; 
	}
	[type="checkbox"]:checked + label:after {
		background: #FFF;
		top: 2px; left: 40px;
	}

	[type="checkbox"]:checked + label .ui,
	[type="checkbox"]:not(:checked) + label .ui:before,
	[type="checkbox"]:checked + label .ui:after {
		position: absolute;
		left: 6px;
		width: 65px;
		border-radius: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
	}
	[type="checkbox"]:not(:checked) + label .ui:before {
		content: "non";
		left: 32px
	}
	[type="checkbox"]:checked + label .ui:after {
		content: "oui";
		color: #FFF;
	}

	[type="checkbox"]:focus + label:before {
		border: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -1px;
	}

	/* PHOTO */

	.input-file-container {
	  position: relative;
	  /*width: 150px;*/
	} 
	.js .input-file-trigger {
	  /*display: block;*/
	  padding: 14px 25px;
	  background-color: #22B573;
	  border : 2px solid #22B573;
	  border-radius: 2px;
	  color: #fff;
	  font-size: 1em;
	  transition: all .4s;
	  cursor: pointer;
	}
	.js .input-file {
	  position: absolute;
	  top: 0; left: 0;
	  width: 100%;
	  opacity: 0;
	  padding: 14px 0;
	  cursor: pointer;
	}
	.js .input-file:hover + .input-file-trigger,
	.js .input-file:focus + .input-file-trigger,
	.js .input-file-trigger:hover,
	.js .input-file-trigger:focus {
	  background: #FFF;
	  color: #22B573;
	}

	.file-return {
	  margin: 0;
	}
	.file-return:not(:empty) {
	  margin: 1em 0;
	}
	.js .file-return {
	  font-style: italic;
	  font-size: .9em;
	  font-weight: bold;
	}
	.js .file-return:not(:empty):before {
	  content: "Fichier ajouté : ";
	  font-style: normal;
	  font-weight: normal;
	}

/*------------------- BLOCK PROPOSER UN EVENEMENT --------------------*/
/**********************************************************************/