/*------------------------ BLOCK MAIN --------------------------*/

main {
	margin-top: 150px;
}

/*------------------------ BLOCK MAIN --------------------------*/






/*------------------------ BLOCK MAIN NAV --------------------------*/


	/* BOUTON PROPOSER UN EVENEMENT */
	#btn-proposer_evenement {
		margin-right : 20px;
	}

/*------------------------ BLOCK MAIN NAV --------------------------*/






/*------------------------ BLOCK PROFIL NAV --------------------------*/


	/* MENU SLIDE */
	#profil-nav {
		position : absolute;
		left : 0;
		z-index: 1;
	}

/*------------------------ BLOCK PROFIL NAV --------------------------*/

