{% extends 'base.html.twig' %}

{% block main %}
<section class="form-elegant container margin-top">

Merci {{ app.user.username}} ! <br>
Le commentaire a été signalé, il va être étudié par nos équipes de modération
</section>

{% endblock %}