{% extends 'base.html.twig' %}

{% block main %}
<section class="form-elegant container">
	 {{ form_start(form, {'method': 'POST'}) }}
		<button class="btn btn-primary" type="submit">Enregistrer<i class="fa fa-paper-plane-o ml-1"></i></button>
	{{ form_end(form) }}
</section>

{% endblock %}