{% extends 'base.html.twig' %}

{% block main %}
<section class="form-elegant container">
	<h2>Oups.. Cet événement n'existe pas !</h2>
	<a href="{{ path('evenements') }}" class="blue-text ml-1">Retour aux événements</a>

</section>

{% endblock %}