{% extends 'base.html.twig' %}

{# Correspond à l'accueil du site #}

{% block main %}

{# Bannière présente dans l'accueil #}
<div class="view img-banner hm-teal-light">
	<div class="mask pattern-5 flex-center">
		<div class="container">
        	<h2 class="white-text text-center display-4">Dispo pour un match ?</h2>
    	</div>
    </div>
</div>

<section class="container">
	<div class="row">
	</div>
</section>

{% endblock %}
