{% extends 'base.html.twig' %}

{% block main %}
<section class="form-elegant container">

    {# Form without header #}
    <div class="card">

        <div class="card-body mx-4">

		    {{ form_start(form, {'method': 'POST'}) }}

		    	<div class="text-center">
		        	<button class="btn btn-primary" type="submit">S'inscrire ! <i class="fa fa-paper-plane-o ml-1"></i></button>
		        </div>

		    {{ form_end(form) }}
		</div>

	</div>

</section>

{% endblock %}